header{
    font-size: 2vw;
    text-align: center;
}

body{
    padding-left: 1%;
    padding-right: 1%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.carta{
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);;
    border: 3px rgb(218, 218, 218);
    border-style: outset;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    main{
        border: none;
        width: 100%;
        img{
            width: 100%;
            border-radius: 10% 10% 0 0;
        }
        
    }
    

    
    article{
        background-color: white;
        width: 100%;
        flex-grow: 1;
        padding: 0% 4% 0% 4%;
        h2{
            text-align: left;
            font-style: oblique;
            font-size: 2.5vw;
            font-weight: bold;
        }

        p{
            font-style: italic;
            font-size: 1.5vw;
            text-align: justify;

            
                #parte_1{
                    opacity: 0.6;
                }
                #parte_2{
                    opacity: 0.3;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
        }
        
    }

    footer{
        background-color: white;
        text-align: center;
        padding-bottom: 4%;
        button{
            border-style: hidden;
            border-radius: 10px;
            width: 40%;
            height: 3.5vw;
            background-color: rgb(0, 122, 255);
            color: white;
            font-size: 1vw;
            cursor: pointer;
            letter-spacing: 0.5px;
            font-weight: bold;
            text-transform: capitalize;
            transition: background-color 0.3s ease;
        }

        button:hover{
            border: 2px outset rgb(156, 156, 156);
            background-color: rgb(0, 100, 255);
        }
    }
    
}
.carta:hover{
    width: 30.1%;
    border-color: rgb(156, 156, 156);
}