body{
    background-color: beige;
}
header{
    background-color: antiquewhite;
    border: 0.5;
    border-style: dashed;
    border-radius: 4%;
    
    a{
        border: 0.01;
        border-style: solid;
        border-color: black;
        background-color: rgb(255, 255, 255);

    }
}

#definicion{
    h4{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 0.2;
        font-style: oblique;
    }
}

#ventajas{
    h4{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 0.2;
        font-style: oblique;
    }
}

#desventajas{
    h4{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 0.2;
        font-style: oblique;
    }
}

#tipos{
    dl{
        background-color: white;
        border: 0.2;
        border-color: black;
        border-style: ridge;
    }
}

#audio{
    Audio{
        background-color: black;
    }
}

#pagina{
    background-color: coral;
    border: 1;
    border-color: black;
    border-style: double;
    h2{
        background-color: white;
    }
}

#tablas{
    table{
        background-color: white;
    }
}

footer{
    form{
        border: .01;
        border-color: black;
        border-style: dashed;
        background-color: rgb(219, 218, 218);

        fieldset select optgroup{
                background-color: bisque;
        }
        
    }
    
    
}