:root{
    --color_primario: rgb(255, 255, 255);
    --color_secundario: rgb(233, 233, 233);
    --color_terciario: rgb(226, 213, 188);

    /*--fonts: */

    --font_size1: 3vw;
    --font_size2: 1.8vw;
    --font_size3: 1vw;

    --font_style: 'PlayFair Display', Times New Roman;
}



body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aviso aviso aviso"
    "img img img"
    "productos productos productos"
    "footer footer footer";
}

/*Tamaño escritorio*/
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-area: header;

    background-color: var(--color_primario);

    display: grid;
    grid-template-areas: 
    "nombre texto";
    grid-template-columns: 5fr 5fr 1fr;

    align-items: center;

    margin: 0;
    padding-left: 1%;

    box-shadow: 0px 2px 0px rgb(0, 0, 0, 0.1);
}

#caja_nombre{
    padding-left: 6%;

    grid-column: 1;
    grid-area: nombre;

    align-items: center;
    padding-bottom: 1%;
}

#caja_texto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    
    grid-column: 2; 
    grid-area: texto;  
}

#caja_opciones{
    align-items:center;
    text-align: center;
}


#caja_nombre h1{
    margin: 0;
    padding: 0;
    font-family: var(--font_style);
    font-size: var(--font_size1);
    letter-spacing: 5px;
}

#caja_texto h2{
    margin: 0;
    padding: 0;
    font-family: var(--font_style);
    font-size: var(--font_size2);
    font-style: normal;
}

#base{
    width: 33%;
    position: relative;
}

#temporada{
    width: 33%;
    position: relative;
}

#paquetes{
    width: 33%;
    position: relative;
}


#caja_texto .opc{
    cursor: pointer;
}
#caja_texto .opc:hover{
    color: rgb(48, 48, 48);
}

#caja_texto .opcion:hover{
    .opc{
        color: gray;
    }
    .menu{
        display: block;
    }
}

.menu{
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    border: 0.1px solid rgb(167, 164, 164);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    li{
        text-align: center;
        color: black;
        padding: 10px;
        font-size: 1.5vw;
        cursor: pointer;
    }

    
}

.menu li:hover{
    background-color: rgb(202, 202, 202);
}

#caja_opciones button{
    width: 20%;
    border: 0;
    background-color: rgba(245, 245, 220, 0);
    
    img{
        cursor: pointer;
        width: 100%;
        min-width: 20px;
        transition: transform 0.5s;
    }
}

#caja_opciones button img:hover{
    transform: rotate(360deg);
}

#contenedor_avisos{
    grid-area: aviso;
    width: 100%;
    display: flex;
    justify-content: center;

    padding-top: 0.2%;
    padding-bottom: 1%;
}


#aviso{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: var(--color_terciario);
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
}

.avisos{
    margin: 0;
    padding: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avisos img{
    width: 8%;
}

.avisos h3{
    margin: 0;
    padding: 0;

    font-size: 0.8vw;
}

#contenedor_fondo {
    grid-area: img;
    width: 100%;
    display: flex;
    justify-content: center;
    

    #contenedor_texto{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items:self-start;
        height: 400px;
        background-image: url(../imgs/perfume.webp);
        background-size: cover;
        background-position: center;

        border: 1px solid black;
        border-radius: 15px;
        
        h3{
            padding: 0 4% 0 4%;
            font-size: 5vw;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 15px;
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    
  }
  


#productos_contenedor{
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4% 1% 1% 1%;
    width: 100%;

    align-items: center;
    justify-items: center;
}

.productos{
    width: 100%;
    max-width: 400px;
}

.productos img{
    width: 100%;
    min-height: 400px;
    border-radius: 15px;
}

.productos .caracteristica{
    width: 100%;
}


footer{
    grid-area: footer;
    width: 100%;
    padding: 2%;
}

#contenedor_contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 15px;
    width: 95%;

    align-items: center;
    justify-items: center;

    background-color: var(--color_secundario);
}

#redes_sociales{
    display: grid;
    grid-template-areas: 
    "nombre nombre nombre"
    "facebook instagram x";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 1% 1% 8% 10%;

    h2{
        margin: 0;
        padding: 0;
        grid-area: nombre;
        font-size: var(--font_size1);
        font-family: var(--font_style);
    }

}
.caja {
    display: flex;
    width: 20%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 6%;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.caja img {
    width: 80%;
}

.caja #facebook{
    grid-area: facebook;  
}

.caja #instagram{
    grid-area: instagram;
}

.caja #x{
    grid-area: x; 
}

#correos{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5% 1% 8% 10%;

}

#correos h3{
    width: 100%;
    margin: 0;
    padding: 0 0 4% 0;
    text-align: center;
    font-family: var(--font_style);
    font-size: var(--font_size2);
}

#enviar_correo{
    width: 100%;
    display: flex;
}

#correos #input_correo{
    width: 80%;
    height: 0%;
    border-right: 0;
    border-radius: 15px 0 0  15px;
    padding: 2% 0 2% 2%;
}

#correos button{
    display: flex;
    width: 20%;
    border-radius: 0 15px 15px 0;
    padding: 1%;
    align-items: center;
    background-image: url(../imgs/message_10426419.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}


@media (max-width: 1800px) {
    #productos_contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1600px) {
    #productos_contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    #productos_contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
}
